.App {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Arial, Montserrat, sans-serif;
  padding-top: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.carousel-container {
  display: flex;
  align-items: center;
  scroll-margin: 20px;
}

.randommovie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-margin: 20px;
}

.movielist {
  display: flex;
  justify-content: center;
}

.movielistname {
  cursor: pointer;
}
