.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.carousel-container {
  display: flex;
  justify-content: left;
  align-items: center;
  scroll-margin: 20px;
}

.randommovie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-margin: 20px;
}

.navbar-component {
  position: fixed;
  display: left;
  justify-content: left;
  align-items: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.movielist {
}

.movielistname {
  cursor: pointer;
}
